<h2>ToDo List</h2>
<div>
  <label>Todo name:</label> <input #todoName />
  <button (click)="add(todoName.value); todoName.value=''">
    Add
  </button>
</div>
<ul class="todos">
  <li *ngFor="let todo of todos">
    <span><ng-fa name="check"></ng-fa>{{todo.name}} (Parent: {{todo.parentToDoNo}})</span>
    <button (click)="toggleAddSubTaskVisibility(todo.toDoNo)">Add subtask</button>

    <div *ngIf="isAddSubTaskVisible(todo.toDoNo)" class="addSubTask">
      <label>Subtask name:</label> <input #subTaskName />
      <button (click)="addSubTask(subTaskName.value, todo.toDoNo); subTaskName.value=''; toggleAddSubTaskVisibility(todo.toDoNo)">
        Add
      </button>
    </div>

  </li>
</ul>
